run_vivado/*.dmp
run_vivado/*.log
run_vivado/project
run_vivado/*.jou
rtl/IP/xilinx_ip/**/mig_axi_32/
rtl/IP/xilinx_ip/**/*.veo
rtl/IP/xilinx_ip/**/*_xmdf.tcl
rtl/IP/xilinx_ip/**/xil_txt.in
rtl/IP/xilinx_ip/**/xil_txt.out

.Xil/
**/.Xil/

*.jou
*.log
*.str
*.pb
*.wdb
*.wcfg

*.cache/
*.hw/
*.runs/
*.sim/
*.ip_user_files/
*.gen/

rtl/IP/xilinx_ip/**/.Xil/

rtl/IP/xilinx_ip/**/*.dcp
rtl/IP/xilinx_ip/**/*.veo
rtl/IP/xilinx_ip/**/*.vho
rtl/IP/xilinx_ip/**/*.xml

rtl/IP/xilinx_ip/**/doc/
rtl/IP/xilinx_ip/**/hdl/
rtl/IP/xilinx_ip/**/sim/
rtl/IP/xilinx_ip/**/simulation/
rtl/IP/xilinx_ip/**/synth/

rtl/IP/xilinx_ip/**/*_clocks.xdc
rtl/IP/xilinx_ip/**/*_impl_clocks.xdc
rtl/IP/xilinx_ip/**/*_ooc.xdc
rtl/IP/xilinx_ip/**/*_stub.v
rtl/IP/xilinx_ip/**/*_stub.vhdl
rtl/IP/xilinx_ip/**/*_sim_netlist.v
rtl/IP/xilinx_ip/**/*_sim_netlist.vhdl

run_vivado/project/
project/

*.swp
*.swo
*~
.DS_Store
Thumbs.db
